@import url(../public/font/iranyekan/css/fontiran.css);

@font-face {
  font-family: 'Exodar-outline';
  src: url(../public/font/Exodar/fonts/ttf/Exodar-Outline.ttf)
    format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

#main-content {
  width: 100% !important;
}

#logo {
  font-family: Exodar-outline !important;
}
